body {
	
}
.main {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	background: white;
	padding-top: 30px;
	padding-left: 30px;
	padding-right: 30px;
	box-sizing: border-box;
	padding-bottom: 30px;
}
.main h1 {
	text-align: center;
}